@import "../../../js/components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "directory.scss";

$tab-radius: 10px;
$tab-width: 50px;
$tab-height: 250px;
$tab-bottom-offest: 40px;
$tab-label-size: 18px;
$tab-show-user-offest: 35px;

$drawer-mobile-width: 320px;
$drawer-width: 400px;
$drawer-height: 415px;
$drawer-radius: 10px;
$bubble-width: 175px;

$green: #4fbc5c;
$blue: #61aedb;
$red: #cc3117;

@mixin phone() {
    @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
        @content;
    }
}

.engage-tab {
    @include box-sizing(border-box);
	position: fixed;
    z-index: 1000001;
	background-color: #000;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	cursor: pointer;
	@include transition-duration(0.2s);
	@include transition-timing-function(ease-out);
    &.engage-show-user {
        > .engage-profilePhoto {
            top: 2px;
            pointer-events: inherit;
            opacity: 1;
            cursor: pointer;
        }
    }
	&:active {
		@include transform(scale(1.05));
	}

    @media only screen and (max-device-height: 350px), only screen and (max-height: 350px) {
        display: none;
    }

	@mixin side-tab() {
		top: 50%;
		width: $tab-width;
		height: $tab-height;
		margin-top: -$tab-height/2;
		.engage-tab-label {
			width: $tab-height;
			// bottom-up text
			@include transform(rotate(-90deg) translateX(-100%) translateY(($tab-width - $tab-label-size) / 2));
			@include transform-origin(top left);
			@include transition-timing-function(ease-out-bounce);
			&.flipped {
				// top-down text
				@include transform(rotate(90deg) translateY(-($tab-width - $tab-label-size) - 3));
				@include transform-origin(top left);
			}
		}
        &.engage-show-user {
            > .engage-tab-label {
                padding-right: $tab-show-user-offest;
                padding-left: 0;
                width: $tab-height;
                &.flipped {
                    padding-right: 0;
                    padding-left: $tab-show-user-offest;
                }
            }
        }
	}
	&.left-tab {
		@include side-tab();
		left: -$tab-width/10;
		@include transition-property(left, transform);
		border: {
			top-right-radius: $tab-radius;
			bottom-right-radius: $tab-radius;
		}
		&:hover {
			left: 0;
		}
		&.engage-hide {
			left: -$tab-width * 1.2;
		}
        > .engage-profilePhoto {
            left: 4px;
        }
	}
	&.right-tab {
		@include side-tab();
		right: -$tab-width/10;
		@include transition-property(right, transform);
		border: {
			top-left-radius: $tab-radius;
			bottom-left-radius: $tab-radius;
		}
		&:hover {
			right: 0;
		}
		&.engage-hide {
			right: -$tab-width * 1.2;
		}
        > .engage-profilePhoto {
            left: 0px;
        }
	}

	@mixin bottom-tab() {
        top: auto;
		bottom: -$tab-width/10;
		@include transition-property(bottom, transform);
		width: $tab-height;
		height: $tab-width;
		border: {
			top-right-radius: $tab-radius;
			top-left-radius: $tab-radius;
            bottom-right-radius: 0;
            bottom-left-radius: 0;
		}
		&:hover {
			bottom: 0;
		}
		&.engage-hide {
			bottom: -$tab-width * 1.2;
		}
        &.engage-show-user {
            .engage-profilePhoto {
                display: block;
                left: 0;
                top: 0;
            }
            .engage-tab-label {
                padding-left: $tab-show-user-offest;
                padding-right: 0;
                width: $tab-height;
            }
        }
		> .engage-tab-label {
			@include transform(translateY(($tab-width - $tab-label-size) / 2));
		}
	}
	&.bottom-left-tab {
		@include bottom-tab();
		left: $tab-bottom-offest;
	}
	&.bottom-right-tab {
		@include bottom-tab();
		right: $tab-bottom-offest;
	}

    @mixin bottom-full-width-label() {
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        @include transform(translateY(($tab-width - $tab-label-size) / 2));
    }
    @mixin bottom-full-tab() {
        @include bottom-tab();
        width: auto;
        left: $tab-bottom-offest/2;
        right: $tab-bottom-offest/2;
        &:hover {
            left: $tab-bottom-offest/2;
            left: $tab-bottom-offest/2;
            right: $tab-bottom-offest/2;
            top: auto;
            bottom: 0;
        }
        &.engage-show-user {
            > .engage-tab-label {
                @include bottom-full-width-label();
                &.flipped {
                    @include bottom-full-width-label();
                }
            }
        }
        > .engage-tab-label {
            @include bottom-full-width-label();
        }
    }
	&.bottom-toolbar {
        @include bottom-full-tab();
	}

	@mixin top-tab() {
		top: -$tab-width/10;
		@include transition-property(top, transform);
		width: $tab-height;
		height: $tab-width;
		border: {
			bottom-right-radius: $tab-radius;
			bottom-left-radius: $tab-radius;
		}
		&:hover {
			top: 0;
		}
		&.engage-hide {
			top: -$tab-width * 1.2;
		}
        &.engage-show-user {
            .engage-profilePhoto {
                display: block;
                left: 0;
                top: 4px;
            }
            .engage-tab-label {
                padding-left: $tab-show-user-offest;
                padding-right: 0;
                width: $tab-height;
            }
        }
		> .engage-tab-label {
            width: $tab-height;
			@include transform(translateY(($tab-width - $tab-label-size) / 2));
		}
	}
	&.top-left-tab {
		@include top-tab();
		left: $tab-bottom-offest;
	}
	&.top-right-tab {
		@include top-tab();
		right: $tab-bottom-offest;
	}
	> .engage-tab-label {
        @include box-sizing(border-box);
		@include user-select(none);
		text-align: center;
		font-size: $tab-label-size;
        width: $tab-height;
        line-height: 1;
        padding-left: 0;
        padding-right: 0;
        @include transition-property(width, padding);
        @include transition-duration(0.3s);
        @include transition-timing-function(ease-out);
        @include transition-delay(0.2s);
	}

    @include phone() {
        &.mobile-enabled {
            &.left-tab, &.right-tab, &.top-left-tab, &.top-right-tab, &.bottom-left-tab, &.bottom-right-tab {
                @include bottom-full-tab();
            }
        }
    }

    > .engage-profilePhoto {
        position: absolute;
        z-index: 1;
        pointer-events: none;
        opacity: 0;
        @include transition-property(opacity);
        @include transition-duration(0.3s);
        @include transition-timing-function(ease-out);
        @include transition-delay(0.5s);
        > .engage-photo {
            box-shadow: 0 0 5px rgba(0,0,0,0.3);
        }
    }
	
}

.engage-bubble {
    @include box-sizing(border-box);
    position: fixed;
    z-index: 1000002;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: $bubble-width;
    min-height: 100px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    pointer-events: none;
    opacity: 0;
    cursor: pointer;
    @include transform(scale(0.1));
    @include transition-property(opacity, transform);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-out);
    @include transition-delay(0.10s);

    @media only screen and (max-device-height: 400px), only screen and (max-height: 400px) {
        display: none;
    }

    &:after {
        display: block;
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
    }
    &.engage-show {
        pointer-events: inherit;
        opacity: 1;
        @include transform(scale(1));
    }
    &.left-tab {
        left: 60px;
        top: 50%;
        margin-top: -$tab-height/2;
        @include transform-origin(top left);
        &:after {
            top: 20px;
            left: -20px;
            background-image: url(images/LeftArrow.png);
        }
    }
    &.right-tab {
        right: 60px;
        top: 50%;
        margin-top: -$tab-height/2;
        @include transform-origin(top right);
        &:after {
            top: 20px;
            right: -20px;
            background-image: url(images/RightArrow.png);
        }
    }
    &.top-left-tab {
        top: 60px;
        left: $tab-bottom-offest;
        @include transform-origin(top left);
        &:after {
            top: -20px;
            left: 20px;
            background-image: url(images/TopLeftArrow.png);
        }
    }
    &.top-right-tab {
        top: 60px;
        right: $tab-bottom-offest + ($tab-height - $bubble-width);
        @include transform-origin(top left);
        &:after {
            top: -20px;
            left: 20px;
            background-image: url(images/TopLeftArrow.png);
        }
    }
    @mixin bottom-bubble() {
        top: auto;
        bottom: 60px;
        left: $tab-bottom-offest;
        @include transform-origin(bottom left);
        &:after {
            top: auto;
            bottom: -20px;
            left: 20px;
            background-image: url(images/BottomLeftArrow.png);
        }
    }
    &.bottom-left-tab, &.bottom-toolbar {
        @include bottom-bubble();
    }
    &.bottom-right-tab {
        @include bottom-bubble();
        left: auto;
        right: $tab-bottom-offest + ($tab-height - $bubble-width);
    }
    @include phone() {
        &.mobile-enabled {
            &.left-tab, &.right-tab, &.top-left-tab, &.top-right-tab, &.bottom-left-tab, &.bottom-right-tab {
                @include bottom-bubble();
                left: $tab-bottom-offest/2;
            }
        }
    }
    > .engage-bubble-close {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        background-image: url(images/close.png);
        background-size: 75%;
        background-position: center center;
        background-repeat: no-repeat;
        &:hover {
            background-color: #eee;
        }
    }
    > .engage-bubble-message {
        font-size: 16px;
        color: #49a1d6;
        margin: 10px 0;
    }
    > .engage-button {
        margin: 10px auto;
    }
}

.engage-drawer {
    @include box-sizing(border-box);
	position: fixed;
    z-index: 1000003;
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	color: #4c4c4c;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	@include transition-duration(0.5s);
	@include transition-timing-function(ease-out);
	@include transition-property(all);

	@mixin side-drawer() {
		top: 50%;
		width: $drawer-width;
        @include phone() {
            width: $drawer-mobile-width;
        }
		height: $drawer-height;
		margin-top: -$drawer-height/2;
	}
	&.left-tab {
		@include side-drawer();
		left: 0;
		border: {
			top-right-radius: $drawer-radius;
			bottom-right-radius: $drawer-radius;
		}
		&.engage-hide {
			left: -$drawer-width * 1.2;
		}
	}
	&.right-tab {
		@include side-drawer();
		right: 0;
		@include transition-property(right, transform);
		border: {
			top-left-radius: $drawer-radius;
			bottom-left-radius: $drawer-radius;
		}
		&.engage-hide {
			right: -$drawer-width * 1.2;
		}
	}

	@mixin bottom-drawer() {
        top: auto;
		bottom: 0;
        margin-top: 0;
		@include transition-property(bottom, transform);
		width: $drawer-width;
        @include phone() {
            width: $drawer-mobile-width;
        }
		height: $drawer-height;
		border: {
			top-right-radius: $drawer-radius;
			top-left-radius: $drawer-radius;
		}
		&.engage-hide {
			bottom: -110%;
		}
	}
	&.bottom-left-tab {
		@include bottom-drawer();
		left: $tab-bottom-offest;
	}
	&.bottom-right-tab {
		@include bottom-drawer();
		right: $tab-bottom-offest;
	}
	&.bottom-toolbar {
		@include bottom-drawer();
		border-radius: 0;
		width: 100%;
		left: 0;
		right: 0;
	}

	@mixin top-drawer() {
		top: 0;
		@include transition-property(top, transform);
		width: $drawer-width;
        @include phone() {
            width: $drawer-mobile-width;
        }
		height: $drawer-height;
		border: {
			bottom-right-radius: $drawer-radius;
			bottom-left-radius: $drawer-radius;
		}
		&.engage-hide {
			top: -$drawer-height * 1.2;
		}
	}
	&.top-left-tab {
		@include top-drawer();
		left: $tab-bottom-offest;
	}
	&.top-right-tab {
		@include top-drawer();
		right: $tab-bottom-offest;
	}

	>.engage-header {
		height: 50px;
		width: 100%;
		border-bottom: {
			width: 1px;
			color: #eaeaea;
			style: solid;
		}
        @mixin header-button {
            display: block;
            position: absolute;
            top: 0;
            width: 50px;
            height: 50px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center center;
            &:hover, &:active {
                background-color: #eee;
            }
        }
		.engage-back {
            @include header-button();
            left: 0;
            background-image: url(images/back.png);
            @include transform(translateX(0));
            @include transition-property(transform);
            @include transition-duration(0.4s);
            &.engage-hide {
                @include transform(translateX(-50px));
            }
		}
		.engage-close {
            @include header-button();
            right: 0;
            background-image: url(images/close.png);
		}
        .engage-directory-title {
            left: 0;
            right: 0;
            padding: 16px 50px 12px 50px;
            font-size: 18px;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
	}

    >.engage-footer {
        @include box-sizing(border-box);
        position: absolute;
        bottom: 0;
        height: 30px;
        width: 100%;
        padding: 8px;
        background-color: #fff;
        font-size: 13px;
        border-top: {
            width: 1px;
            color: #eaeaea;
            style: solid;
        };
        >.engage-directory-link {
            color: $blue;
        }
        >.engage-powered-by {
            float: right;
            color: #aaa;
            font-size: 11px;
            >a {
                color: #aaa;
                text-decoration: underline;
            }
        }
    }

	>.engage-screen {
		position: absolute;
		top: 50px;
		bottom: 30px;
        left: 0;
		width: 100%;
        overflow: hidden;
        overflow-y: auto;
//		@include transform(translateX(0));
		@include transition-property(left);
		@include transition-duration(0.5s);
		@include transition-timing-function(ease-out);

		&.engage-right {
//			@include transform(translateX(100%));
            left: 100%;
		}
		&.engage-left {
//			@include transform(translateX(-100%));
            left: -100%;
		}

	}

    @include phone() {
        &.mobile-enabled {
            &.left-tab, &.right-tab, &.top-left-tab, &.top-right-tab, &.bottom-left-tab, &.bottom-right-tab {
                @include bottom-drawer();
                width: 100% !important;
                height: 100%;
                top: auto;
                left: 0;
                right: 0;
                margin-top: 0;
                border: {
                    top-left-radius: 0;
                    top-right-radius: 0;
                    bottom-left-radius: 0;
                    bottom-right-radius: 0;
                }
                &.engage-hide {
                    left: 0;
                    right: 0;
                    top: auto;
                    bottom: -110%;
                }
            }
        }
    }

}